<% # if a dataset is not marked 'Open', then some restrictions to viewing it apply, so present a notice about this %>

<% if @dataset.dc_access_rights[0] != 'Open' %>

  <p>This dataset is currently
    <% if @dataset.dc_access_rights[0] != 'Open' and @dataset.dc_access_rights[0] != 'not set' %>
      <%= @dataset.dc_access_rights[0] %>.
    <% else %>
      not available.
    <% end %>

      Please email <%= mail_to 'library-research-support@york.ac.uk','Library Research Support' %> for further
      information.</p>

<% end %>
