<p>Your e-mail address will held by the University of York in line with the Data Protection Act, 1998 
and used to notify you when the data you have requested is available or of any problems or delays in 
servicing your request. It will subsequently be removed from our system.</p>
<%= form_for @request, url: dataset_path do |f| %>
    <div class="field">
      <%= f.label 'Email Address' %><br>
      <%= f.text_field :email %>
    </div>
    <div class="actions">
      <%= f.submit 'Request Data' %>
    </div>
<% end %>
