<p id="notice"><%= notice %></p>

<p>Show page</p>

<p>
  <strong>PURE unique identifier:</strong> <%= @dataset.pure_uuid  %><br />
  <strong>Dataset title:</strong> <%= @dataset.title  %><br />
</p>

<p>
  <%if @dataset.dip.size == 0 %>
      We need to prepare this data for download, please provide your email address below and we will contact you as soon as the download is ready.
  <% else %>
      <strong><%= @dataset.dip.size %></strong> data deposits have been added for this PURE dataset.
  <% end %>
</p>
