<h1>Research Data York</h1>
<br />

<p>Welcome to Research Data York. Administrators should login via the link in the top-right corner.</p>

<p>If you are depositing data, you should have been provided with a Deposit URL.</p>

<p>If you are looking for datasets, please search the <%= link_to 'Data Catalogue', datasets_url %>.</p>

<p>Please email <%= mail_to 'library-research-support@york.ac.uk','Library Research Support' %> if you need for further
  help or information.</p></p>
