<%# content_for :head do %>
  <%#= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" %> 
  <%#= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.2/jstree.min.js" %> 
<%# end %>

<!--
<h1>hello</h1>
<%# @response.files.each do |file| %>
  <p><img src="<%#= file.icon_link %>"/> <%#= file.name %></p>
<%# end %>
-->

<div id="jstree_demo_div"></div>

<script>
  $(function () { 
    $('#jstree_demo_div').jstree({
      "plugins" : ["checkbox"],
      'core': {
        'data': {
          'url' : function (node) {
            return "/googledrive.json?folder=" + (node.id === "#" ? "root" : node.id)
          },
          'data' : function (node) {

          }
        }
      } 
    }); 
  }); 
  $('#jstree_demo_div').on("changed.jstree", function (e, data) {
    console.log(data.selected);
  });
</script>
