<p><%= @dataset.title[0].to_s %></p>
<p>Requested data now available for download at: <%= url_for dataset_url(@dataset.id) %></p>
<p>Licence: Third party use of this data is permitted under a Creative Commons Attribution (CC BY) licence (https://creativecommons.org/licenses/by/4.0)</p>
<p>Thank you<br/>Research Data York<br/>University of York<br/><%= ENV["RDM_EMAIL"] %></p>

