<p><%= @dataset.title[0].to_s %></p>
<p>Requested data now available for download at: <%= url_for dataset_url(@dataset.id) %></p>
<p>Thank you<br/>Research Data York<br/>University of York</br>research-data-york-group@york.ac.uk</p>

