<p>Hello</p>
<p>The data you requested for dataset "<%= @dataset.preflabel %>" is now available for download at <%= url_for dataset_url(@dataset.id) %></p>
<p>Thanks<br/>Research Data Auto-emailer</p>

