<p id="notice"><%= notice %></p>

<h1>Listing deposits</h1>

<table>
  <thead>
    <tr>
      <th>Uuid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  
</table>

<br>

<%= link_to 'New deposit', new_deposit_path %>
