@import 'bootstrap-sprockets';

@import 'bootstrap';

@import 'blacklight/blacklight';

.navbar-header {
  color: teal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 100px;

}

#header-navbar {
  .navbar-brand {  /* The main logo image for the Blacklight instance */
    width: 200px;
    height: 92px;
  }
}

.check_box_true {
  color: black;
  font-weight: bold;
  font-style: italic;
}
.check_box_false {
  font-weight: normal;
  font-style: normal;
}

.search_box {
  .q_div {
    label {
      font-weight: bold;
      width: 10%;
    }
  }
  #q {
    width: 80%;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
  }
  label {
    font-weight: normal;
  }
  table {
    width: 80%;
    margin-left: 10%
  }
  td {
    padding: 5px 5px 5px 5px;
  }
  .actions {
    margin-left: 10%;
    input {
      border-radius: 5px;
      background-color: teal;
      color: white;
      font-weight: bold;
      padding: 5px 5px 5px 5px;
    }
  }

}