.navbar-header {
  color: teal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 100px;

}

#header-navbar {
  .navbar-brand {  /* The main logo image for the Blacklight instance */
    width: 200px;
    height: 92px;
  }
}

.check_box_true {
  position:relative;
  padding-right: 15px
}
.check_box_true:before {
  content: "\f0c7"; /* fa-floppy-o */
  font-family: FontAwesome;
  position:absolute;
  top:0;
  padding-right: -10px;
  color: green
}

.check_box_false {
  font-weight: normal;
  font-style: normal;
}

.search_box {
  .q_div {
    label {
      font-weight: bold;
      width: 10%;
    }
  }
  #q {
    width: 80%;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
  }
  label {
    font-weight: normal;
  }
  table {
    width: 80%;
    margin-left: 10%
  }
  td {
    padding: 5px 5px 5px 5px;
  }
  .actions {
    margin-left: 10%;
    input {
      border-radius: 5px;
      background-color: teal;
      color: white;
      font-weight: bold;
      padding: 5px 5px 5px 5px;
    }
  }

}

/* set colour for all links in the application, overriding selectors defined by blacklight */
a, a:hover, a:visited, .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:visited {
  color: teal;
  text-decoration: underline;
}

/* some special css for the notes column of the main datasets table */
a.delete, a.delete_authorised_depositor {
  display: none
}
p.note:hover a.delete, p.authorised_depositor:hover a.delete_authorised_depositor {
  display: inline
}
textarea#notes {
  width: 100%
}
input#authorised_depositors {
  width: 15ch;
}

/* styles for presenting error message to user */
div#errors label#error_label {
  font-size: 0.8em;
  cursor: pointer;
}
div#errors label#error_label:before {
  content: "Show ";
}
div#errors input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
/* default */
div#errors div#error_details {
  display: none;
}
/* Toggled State */
div#errors input[type=checkbox]:checked ~ div#error_details {
  display: block;
  border: 1px solid gray;
  padding: 10px;
}
div#errors input[type=checkbox]:checked ~ label#error_label:before {
  content: "Hide ";
}
/* define styles for flash notices */
.flash_notice, .flash_alert, .flash_error {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
}
.flash_notice {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.flash_alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.flash_error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

/* define some styles for displaying the list of files for download */
ul.filedownload {
  list-style: none; 
  padding-left: 0
}
ul.filedownload li {
  /*margin: 10px 0;*/ 
  line-height:30px; 
  height:auto
}
ul.filedownload li img {
  width: 30px
}

/* define some styles for displaying progress bar for file upload */
#progressbar_container {
  margin-top: -5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
#progressbar_empty {
  width: 400px; height:10px; float: left; margin-right: 10px;
}
#progressbar_progress {
  width: 0%; height: 100%;
}
#progressbar_progress.normal {
  background-color: #449d44;
}
#progressbar_progress.fail {
  background-color: red;
}
#progressinfo {
  height: 20px;
}
 /* add some styling to the main dashboard table on the main deposits page */
#main-dashboard-table {
  table-layout: fixed;
}
#main-dashboard-table td, th {
  overflow-wrap: break-word;
}
@media screen and (min-width: 1550px) {
  #main-container {
    width: 1520px;
  }
}
